---
permalink: "about/index.html"
tags: nav
title: About
layout: default
---
<div class="px-4 pt-10 pb-24 max-w-6xl m-auto">
<h1 class="text-xl px-4">About</h1>
<p class="pt-2 px-4 pb-5">
This is the Blackfoot Atlas project. It was developed as part of a partnership between the Blackfeet Nation (Montana), the Piikani Nation (Alberta), and the Bureau of Applied Research in Anthropology of the University of Arizona, with support from the U.S. National Science Foundation (PLR-1827975).
</p>
</div>